.cell {
  border: 1px solid black;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0;
}

.cell.alive {
  background-color: #ff0000;
}

.cell.newborn {
  background-color: #ffc0cb;
}

.cell.dead {
  background-color: #2f2f2f;
}
